<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>fileTypes</key>
        <array>
            <string>sl</string>
            <string>simp</string>
        </array>
        <key>name</key>
        <string>SIMPL</string>
        <key>patterns</key>
        <array>
            <dict>
                <key>match</key>
                <string>^(#!.*)@</string>
                <key>name</key>
                <string>meta.preprocessor.script.simpl</string>
            </dict>
            <dict>
                <key>begin</key>
                <string>^\s*\b(library|import|export|part of|part)\b</string>
                <key>beginCaptures</key>
                <dict>
                    <key>0</key>
                    <dict>
                        <key>name</key>
                        <string>keyword.other.import.simpl</string>
                    </dict>
                </dict>
                <key>end</key>
                <string>;</string>
                <key>endCaptures</key>
                <dict>
                    <key>0</key>
                    <dict>
                        <key>name</key>
                        <string>punctuation.terminator.simpl</string>
                    </dict>
                </dict>
                <key>name</key>
                <string>meta.declaration.simpl</string>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>include</key>
                        <string>#strings</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\b(as|show|hide|deferred)\b</string>
                        <key>name</key>
                        <string>keyword.other.import.simpl</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>include</key>
                <string>#comments</string>
            </dict>
            <dict>
                <key>include</key>
                <string>#constants-and-special-vars</string>
            </dict>
            <dict>
                <key>include</key>
                <string>#annotations</string>
            </dict>
            <dict>
                <key>include</key>
                <string>#decl-class</string>
            </dict>
            <dict>
                <key>include</key>
                <string>#decl-enum</string>
            </dict>
            <dict>
                <key>include</key>
                <string>#decl-function</string>
            </dict>
            <dict>
                <key>include</key>
                <string>#keywords</string>
            </dict>
            <dict>
                <key>include</key>
                <string>#strings</string>
            </dict>
        </array>
        <key>repository</key>
        <dict>
            <key>annotations</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>captures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>annotation.simpl</string>
                            </dict>
                            <key>2</key>
                            <dict>
                                <key>name</key>
                                <string>entity.name.function.annotation.simpl</string>
                            </dict>
                            <key>3</key>
                            <dict>
                                <key>name</key>
                                <string>support.type.simpl</string>
                            </dict>
                        </dict>
                        <key>match</key>
                        <string>^(?:\s*)((@)([a-zA-Z0-9_]+))</string>
                    </dict>
                </array>
            </dict>
            <key>comments</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>include</key>
                        <string>#comments-inline</string>
                    </dict>
                </array>
            </dict>
            <key>comments-inline</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>begin</key>
                        <string>(#)</string>
                        <key>beginCaptures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>marker.simpl</string>
                            </dict>
                        </dict>
                        <key>end</key>
                        <string>$</string>
                        <key>name</key>
                        <string>comment.line.hash.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>text.simpl-doccomments</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
            <key>constants-and-special-vars</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>match</key>
                        <string>\b(true|false|null)\b</string>
                        <key>name</key>
                        <string>constant.language.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\.?[0-9]*)|(\.[0-9]+))((e|E)(\+|-)?[0-9]+)?)\b</string>
                        <key>name</key>
                        <string>constant.numeric.simpl</string>
                    </dict>
                </array>
            </dict>
            <key>decl-class</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>begin</key>
                        <string>\bobject\b</string>
                        <key>beginCaptures</key>
                        <dict>
                            <key>0</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.control.new.simpl</string>
                            </dict>
                        </dict>
                        <key>end</key>
                        <string>(?={)</string>
                        <key>name</key>
                        <string>meta.declaration.class.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#keywords</string>
                            </dict>
                            <dict>
                                <key>match</key>
                                <string>[A-Za-z_][A-Za-z0-9_]*</string>
                                <key>name</key>
                                <string>class.name.simpl</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
            <key>decl-function</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>begin</key>
                        <string>^\s*(?:\b(def)\b)\s+(\w+)(?=\()</string>
                        <key>beginCaptures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.declaration.simpl</string>
                            </dict>
                            <key>2</key>
                            <dict>
                                <key>name</key>
                                <string>function.name.simpl</string>
                            </dict>
                        </dict>
                        <key>comment</key>
                        <string>A function definition.</string>
                        <key>end</key>
                        <string>\)</string>
                        <key>name</key>
                        <string>meta.declaration.function.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#comments-inline</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#decl-function-parameter</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#strings</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#keywords</string>
                            </dict>
                        </array>
                    </dict>
                  
                    <dict>
                        <key>begin</key>
                        <string>^\s*\b(new)\b\s+(\w+)(?=\{)</string>
                        <key>beginCaptures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.declaration.simpl</string>
                            </dict>
                            <key>2</key>
                            <dict>
                                <key>name</key>
                                <string>function.name.simpl</string>
                            </dict>
                        </dict>
                        <key>comment</key>
                        <string>A class instantiation after 'new'</string>
                        <key>end</key>
                        <string>\}</string>
                        <key>name</key>
                        <string>meta.invocation.function.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#comments-inline</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#decl-function-parameter</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#strings</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#keywords</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
            <key>decl-function-parameter</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>include</key>
                        <string>#constants-and-special-vars</string>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>(?:\bdef\b)\s+(\w+)(?=\()</string>
                        <key>beginCaptures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.declaration.simpl</string>
                            </dict>
                            <key>2</key>
                            <dict>
                                <key>name</key>
                                <string>function.name.simpl</string>
                            </dict>
                        </dict>
                        <key>comment</key>
                        <string>A function with a primitive return type.</string>
                        <key>end</key>
                        <string>\)</string>
                        <key>name</key>
                        <string>meta.parameter.function.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#decl-function-parameter</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#strings</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#keywords</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>\b(new)\b\s+(\w+)(?=\()</string>
                        <key>beginCaptures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.declaration.simpl</string>
                            </dict>
                            <key>2</key>
                            <dict>
                                <key>name</key>
                                <string>function.name.simpl</string>
                            </dict>
                        </dict>
                        <key>comment</key>
                        <string>A class instantiation after 'new'</string>
                        <key>end</key>
                        <string>\)</string>
                        <key>name</key>
                        <string>meta.invocation.function.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#decl-function-parameter</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#strings</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#keywords</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
            <key>keywords</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>match</key>
                        <string>\bassert\b</string>
                        <key>name</key>
                        <string>keyword.control.assert.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\bas\b</string>
                        <key>name</key>
                        <string>keyword.cast.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\b(try|catch|finally|throw|on|rethrow)\b</string>
                        <key>name</key>
                        <string>keyword.control.catch-exception.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\s+\?\s+|\s+:\s+</string>
                        <key>name</key>
                        <string>keyword.control.ternary.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\b(break|case|continue|default|do|else|for|if|in|return|switch|while)\b</string>
                        <key>name</key>
                        <string>keyword.control.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\b(async\*|async|await\*|await|yield)\b</string>
                        <key>name</key>
                        <string>keyword.control.async.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\b(new)\b</string>
                        <key>name</key>
                        <string>keyword.control.new.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\b(let)\b</string>
                        <key>name</key>
                        <string>keyword.control.let.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\b(object|inherits)\b</string>
                        <key>name</key>
                        <string>keyword.declaration.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\b(is)\b</string>
                        <key>name</key>
                        <string>keyword.declaration.is.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>(&lt;&lt;|&gt;&gt;&gt;?|~|\^|\||&amp;)</string>
                        <key>name</key>
                        <string>keyword.operator.bitwise.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>((&amp;|\^|\||&lt;&lt;|&gt;&gt;&gt;?)=)</string>
                        <key>name</key>
                        <string>keyword.operator.assignment.bitwise.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>(===?|!==?|&lt;=?|&gt;=?)</string>
                        <key>name</key>
                        <string>keyword.operator.comparison.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>(([+*/%-]|\~)=)</string>
                        <key>name</key>
                        <string>keyword.operator.assignment.arithmetic.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>(=)</string>
                        <key>name</key>
                        <string>keyword.operator.assignment.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>(\-\-|\+\+)</string>
                        <key>name</key>
                        <string>keyword.operator.increment-decrement.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>(\-|\+|\*|\/|\~\/|%)</string>
                        <key>name</key>
                        <string>keyword.operator.arithmetic.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>(!|&amp;&amp;|\|\|)</string>
                        <key>name</key>
                        <string>keyword.operator.logical.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>;</string>
                        <key>name</key>
                        <string>punctuation.terminator.simpl</string>
                    </dict>
      
        
                </array>
            </dict>
            <key>regexp</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>match</key>
                        <string>\\[^'"]</string>
                        <key>name</key>
                        <string>constant.character.escaped.regex.simpl</string>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>\(</string>
                        <key>contentName</key>
                        <string>meta.capture.regex.simpl</string>
                        <key>end</key>
                        <string>\)</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>match</key>
                                <string>\?(:|=|!)</string>
                                <key>name</key>
                                <string>ignore.capture.regex.simpl</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#regex.simpl</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\*|\+|\?|\.|\|</string>
                        <key>name</key>
                        <string>keyword.other.regex.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\^|\$</string>
                        <key>name</key>
                        <string>keyword.other.regex.simpl</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\.</string>
                        <key>name</key>
                        <string>constant.other.regex.simpl</string>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>\[(\^)?</string>
                        <key>beginCaptures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.other.negation.regex.simpl</string>
                            </dict>
                        </dict>
                        <key>end</key>
                        <string>\]</string>
                        <key>name</key>
                        <string>constant.character.range.regex.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>match</key>
                                <string>\\[^"']</string>
                                <key>name</key>
                                <string>constant.character.escaped.regex.simpl</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\{(?:\d+)?,(?:\d+)?\}</string>
                        <key>name</key>
                        <string>keyword.other.regex.simpl</string>
                    </dict>
                </array>
            </dict>
            <key>string-interp</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>begin</key>
                        <string>(\$)(\{)</string>
                        <key>beginCaptures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.other.simpl</string>
                            </dict>
                            <key>2</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.other.simpl</string>
                            </dict>
                        </dict>
                        <key>contentName</key>
                        <string>source.simpl</string>
                        <key>end</key>
                        <string>(\})</string>
                        <key>endCaptures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.other.simpl</string>
                            </dict>
                        </dict>
                        <key>name</key>
                        <string>interpolation.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>$self</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>captures</key>
                        <dict>
                            <key>1</key>
                            <dict>
                                <key>name</key>
                                <string>keyword.other.simpl</string>
                            </dict>
                            <key>2</key>
                            <dict>
                                <key>name</key>
                                <string>variable.parameter.simpl</string>
                            </dict>
                        </dict>
                        <key>match</key>
                        <string>(\$)(\w+)</string>
                    </dict>
                    <dict>
                        <key>match</key>
                        <string>\\.</string>
                        <key>name</key>
                        <string>constant.character.escape.simpl</string>
                    </dict>
                </array>
            </dict>
            <key>strings</key>
            <dict>
                <key>patterns</key>
                <array>
                    <dict>
                        <key>begin</key>
                        <string>(?&lt;!r)"""</string>
                        <key>end</key>
                        <string>"""(?!")</string>
                        <key>name</key>
                        <string>string.interpolated.triple.double.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#string-interp</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>(?&lt;!r)'''</string>
                        <key>end</key>
                        <string>'''(?!')</string>
                        <key>name</key>
                        <string>string.interpolated.triple.single.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#string-interp</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>r"""</string>
                        <key>end</key>
                        <string>"""(?!")</string>
                        <key>name</key>
                        <string>string.quoted.triple.double.simpl</string>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>r'''</string>
                        <key>end</key>
                        <string>'''(?!')</string>
                        <key>name</key>
                        <string>string.quoted.triple.single.simpl</string>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>(?&lt;!\\|r)"</string>
                        <key>end</key>
                        <string>"</string>
                        <key>name</key>
                        <string>string.interpolated.double.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>match</key>
                                <string>\n</string>
                                <key>name</key>
                                <string>invalid.string.newline</string>
                            </dict>
                            <dict>
                                <key>include</key>
                                <string>#string-interp</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>r"</string>
                        <key>end</key>
                        <string>"</string>
                        <key>name</key>
                        <string>string.quoted.double.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#regexp</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>(?&lt;!\|r)'</string>
                        <key>end</key>
                        <string>'</string>
                        <key>name</key>
                        <string>string.interpolated.single.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#string-interp</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>begin</key>
                        <string>r'</string>
                        <key>end</key>
                        <string>'</string>
                        <key>name</key>
                        <string>string.quoted.single.simpl</string>
                        <key>patterns</key>
                        <array>
                            <dict>
                                <key>include</key>
                                <string>#regexp</string>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
        </dict>
        <key>scopeName</key>
        <string>source.simpl</string>
        <key>uuid</key>
        <string>99F2562A-B49A-4B0B-98F2-6A6D194862F3</string>
    </dict>
</plist>